{% extends 'base.html' %}
{% block css %}
	<link rel="stylesheet" href="{{ STATIC_URL }}css/style_login.css">
{% endblock %}
{% block title %}Nuevo usuario{% endblock %}

{% block content %}
    <div class="login">
      <h1>Acceder a la Aplicacion</h1>
        <div id="errores">
            {% if error %}
                <p>Usuario o contraseña incorrecta, intente nuevamente.</p>
            {% endif %}
        </div>
    	<form id='formulario' method='post' action=''>{% csrf_token %}
		<p>{{formulario.username}}</p>
        <p>{{formulario.password}}</p>
    		<p><input type='submit' value='Acceder'/></p>
    	</form>
    </div>

{% endblock %}

