{% extends "base.html" %}
{%block title%}CD Manager{% endblock %}

{% block content %}
<!--
    <input name="submit" type="submit" class="btn" value="Entrar" />
-->
    <section style="padding-bottom:300px">
    <div class="main_view">
        <div class="window">

		{% if tareas|length %}   

			{% for tarea in tareas %}
		   		<ul class="resultado">
		   			<li class="resultado-nombre">
		   				<h4 class="resultado-dato">
		   					<a  href="#"> {{ tarea.nombre }}</a>
		   				</h4>
		   			</li>
		   		</ul>
			{% endfor %}
		{% else %}
			<div class="note">
				Lo sentimos, tu b&uacute;squeda no obtuvo resultados.
			</div>
		{% endif %}   		
        </div>
    </div>
    </section>

{% endblock %}
