{% extends "base.html" %}
{%block title%}CD Tareas{% endblock %}

{% block content %}
<!--
    <input name="submit" type="submit" class="btn" value="Entrar" />
-->
    <section>
	    <div class="main_view">
	        <div class="boxMain">
				<h1 id="TituloTab">Lista de Tareas Pendientes</h1>
	        	<div id="tabs">
				  <ul>
				    <li id="tab1"><a href="#tabs-1">Tareas Pendientes</a></li>
				    <li id="tab2"><a href="#tabs-2">Tareas Solicitadas</a></li>
				  </ul>

				  <div id="tabs-1">					
				  </div>
				  <div id="tabs-2">
				  </div>
				</div>			  
	        	
	        </div>
	    </div>
    </section>
{% endblock %}


